<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FoodDeliveryApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Victor Mono Regular Nerd Font Complete.ttf</string>
		<string>Victor Mono Bold Italic Nerd Font Complete.ttf</string>
		<string>Victor Mono Bold Nerd Font Complete.ttf</string>
		<string>Victor Mono Bold Oblique Nerd Font Complete.ttf</string>
		<string>Victor Mono ExtraLight Italic Nerd Font Complete.ttf</string>
		<string>Victor Mono ExtraLight Nerd Font Complete.ttf</string>
		<string>Victor Mono ExtraLight Oblique Nerd Font Complete.ttf</string>
		<string>Victor Mono Italic Nerd Font Complete.ttf</string>
		<string>Victor Mono Light Italic Nerd Font Complete.ttf</string>
		<string>Victor Mono Light Nerd Font Complete.ttf</string>
		<string>Victor Mono Light Oblique Nerd Font Complete.ttf</string>
		<string>Victor Mono Medium Italic Nerd Font Complete.ttf</string>
		<string>Victor Mono Medium Nerd Font Complete.ttf</string>
		<string>Victor Mono Medium Oblique Nerd Font Complete.ttf</string>
		<string>Victor Mono Oblique Nerd Font Complete.ttf</string>
		<string>Victor Mono SemiBold Italic Nerd Font Complete.ttf</string>
		<string>Victor Mono SemiBold Nerd Font Complete.ttf</string>
		<string>Victor Mono SemiBold Oblique Nerd Font Complete.ttf</string>
		<string>Victor Mono Thin Italic Nerd Font Complete.ttf</string>
		<string>Victor Mono Thin Nerd Font Complete.ttf</string>
		<string>Victor Mono Thin Oblique Nerd Font Complete.ttf</string>
	</array>
</dict>
</plist>
